    </main>
    <footer class="Footer">
      <p>
        W tworzeniu tej strony pomocni byli <a href="http://atom.io/">Atom</a> i&nbsp;<a href="https://icomoon.io/">IcoMoon</a>.<br>
        Copyright &copy; 2016 Olgierd Grzyb.
      </p>
    </footer>
    <script src="/js/common.js"></script>
  </body>
</html>
