<!DOCTYPE html>
<!-- <3 from Poland! -->
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>{{^frontpage}}{{title}} &middot; {{/frontpage}}Olgierd Grzyb</title>
    <link rel="stylesheet" href="/css/style.css?{{revision}}">
    {{#stylesheets}}
    <link rel="stylesheet" href="{{url}}">
    {{/stylesheets}}
  </head>
  <body>
    <header class="Header u-clearfix">
      <h1 class="Header-title"><a href="/">Olgierd Grzyb</a></h1>
      <p class="Header-fortune"><q class="Header-fortuneText">Deleted code is debugged code.</q></p>
    </header>
    <main>
