body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: #333;
  color: #eee;
  font: 1.1em/1.5 'PT Serif', Century, Georgia, 'Liberation Serif', serif;
}
a {
  color: #bebebe;
  text-decoration: none;
  transition: all 0.1s;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

.u-clearfix::after,
.Box-title::after,
.Box::after,
.Writings::after {
  content: "";
  display: table;
  clear: both;
}
.Header {
  display: block;
  text-align: center;
}
.Header-title {
  margin: .5em 0 0 0;
  line-height: 1;
  font-size: 2.8em;
}
.Header-fortune {
  margin: .25em 0;
  color: #777;
}

.Box {
  border-top: 8px #eee solid;
  background: #444;
  padding: 1.25em;
  margin: 1em 0;
  border-bottom: 4px #222 solid;
}
.Box-title {
  margin: 0 0 .5em 0;
  font-size: 1.7em;
  line-height: 1.13;
}
.Box-title--collapsible {
  cursor: pointer;
}
.Box--collapsed .Box-title {
  margin: 0;
}
.Box p {
  margin: 0;
  text-indent: 1.5em;
}
.Box p:first-of-type {
  text-indent: 0;
}
.Box-content {
  margin: 0 -1.25em;
  max-height: 100%;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.Box--collapsed .Box-content {
  position: absolute;
}
.Article-footer {
  text-align: right;
  margin-top: 1.5em;
  color: #777;
  font-style: italic;
  font-size: .8em;
}

.Footer {
  color: #666;
  width: 90%;
  margin: 0 auto;
  font-size: .7em;
  text-align: right;
}
.Footer a {
  color: #888;
}

.Box-anchor {
  color: #777;
  font-size: 1.25em;
  float: right;
  line-height: 1.4;
  position: absolute;
  clip: rect(0 0 0 0);
}
.Box:target .Box-anchor,
.Box:hover .Box-anchor,
.Box-anchor:target {
  position: static;
}

.Box-toggleButton {
  background: transparent;
  border: none;
  color: #777;
  font-size: 1em;
  margin: 0;
  padding: 0;
  transition: 0.2s linear all;
  display: inline-block;
  width: 0;
  height: 1em;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  opacity: 0;
}
.Box-toggleIcon {
  font-size: .8em;
  display: block;
  line-height: 1;
}
.Box--collapsed .Box-toggleButton,
.Box:hover .Box-toggleButton,
.Box-toggleButton:focus {
  width: .8em;
  margin-right: 8px;
  opacity: 1;
}
.Box--collapsed .Box-toggleButton {
  transform: rotate(-90deg);
}

.Contact {
  list-style: none;
  padding: 0;
  margin: .5em 0;
}
.Contact .u-icon {
  color: #eee;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 1em;
  max-height: 1.5em;
  margin-right: .25em;
  overflow: hidden;
}
.Contact a {
  padding: 0 1em;
  margin-left: -1em;
}

#o-mnie {
  border-top-color: #9c3;
}
#kontakt {
  border-top-color: #3bd;
}
#teksty {
  border-top-color: #da3;
}

#strony {
  border-top-color: #e84;
}
#strony .Project-link:first-child {
  background: #e84;
}

#aplikacje {
  border-top-color: #d76;
}
#aplikacje .Project-link:first-child {
  background: #e65;
}

.Box--article {
  border-top-color: #36c;
}

.Project {
  padding: 1em 1.25em;
  margin: 1em 0;
  background: #555;
  border-bottom: 2px #333 solid;
}
.Project-name {
  font-size: 1.5em;
  margin: 0;
}
.Project-details {
  margin: .75em 0;
}
.Project .Project-links {
  margin: .5em 0;
  text-indent: 0;
}
.Project-link {
  font-size: .85em;
  display: inline-block;
  background: #777;
  opacity: .8;
  color: #fff;
  padding: .5em .75em;
  border-bottom: 4px #444 solid;
}
.Project-link:first-child {
  font-weight: bold;
  opacity: .9;
}
.Project-link:hover {
  opacity: 1;
  text-decoration: none;
}

.u-srOnly {
  position: absolute;
  clip: rect(0 0 0 0);
}

pre {
  overflow-x: auto;
  background: #333;
  padding: 16px 16px 12px 16px;
  margin-left: 1.5em;
}
code {
  font: .8em Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
.Box--article h3 {
  font-size: 1.3em;
  margin-bottom: .25em;
}

.Writings {
  margin: 0;
  padding: 0;
}
.Writing {
  list-style: none;
  font-size: .8em;
  padding: .6em 0;
}
.Writing a {
  display: block;
  color: #ddd;
}
.Writing-title {
  display: block;
  font-size: 1.2em;
}
.Writing a:hover {
  text-decoration: none;
}
.Writing a:hover .Writing-title {
  text-decoration: underline;
}
.Writing-description {
  color: #777;
}
.Writing-labels {
  opacity: .75;
  padding-bottom: .3em;
  transition: all 0.1s;
}
.Writing-labels:hover {
  opacity: 1;
}
.Writing-label {
  font-weight: bold;
  font-size: .85em;
  background: #555;
  padding: 3px 6px;
  display: inline-block;
  opacity: .75;
  border: #404040 solid;
  border-width: 0 0 2px 0;
  color: #eee;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s;
}
.Writing-labels:hover .Writing-label {
  background: #666;
  border-bottom: 2px #333 solid;
}
.Writing-label:hover {
  opacity: 1;
}
.Writing--filtered {
  display: none;
}
.Writings-resetButton {
  font-family: inherit;
  font-size: .4em;
  font-weight: bold;
  display: inline-block;
  background: #777;
  opacity: .8;
  color: #fff;
  padding: .5em .75em;
  border-bottom: #444 solid;
  border-width: 0 0 4px 0;
  cursor: pointer;
  margin-left: 16px;
}

@media screen and (min-width: 641px) {
  body {
    font-size: 1.25em;
  }
  .Contact {
    text-align: center;
  }
  .Header-fortune {
    font-size: 1.25em;
    margin: .75em 0;
  }
  #o-mnie p {
    font-size: 1.2em;
  }
  .Contact li {
    display: inline-block;
  }
  .Writings {
    font-size: 1.1em;
  }
  .Writing {
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  .Footer {
    width: 100%;
  }
}

@media print {
  .Header, .Footer {
    clip: rect(0 0 0 0);
    position: absolute;
  }
  .Box {
    border: 0;
    padding: 0;
  }
  .Box pre {
    border: 0;
  }
}
