{{> header}}
<article class="Box Box--article Article">
  <h2 class="Box-title">{{title}}</h2>
  {{{content}}}
  <div class="Article-footer">
    Znalazłeś błąd lub literówkę? <a href="/#kontakt">Daj znać</a> albo wyślij pull request na <a href="https://github.com/winek/olgierd.me">GitHubie</a>.
  </div>
</article>
{{> footer}}
